<!DOCTYPE html>
{% load static %}
<canvas id="myChart" style="padding: 2px;"></canvas>
<script src="{% static 'js/chartjs.js' %}"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script>
$(document).ready(function() {
    api_url = "/budget/apiis?title=depense_recette";
    $.ajax({
        method: "GET",
        url: api_url,
        success: function(data) {
            setChart(data.labels, data.depense, data.recette);
        },
        error: function(error_data) {
            console.log("Error");
            console.log(error_data);
        }
    });

    function setChart(labels, depense, recette) {
        var ctx = $("#myChart");
        var myChart = new Chart(ctx, {
            type: "bar",
            data: {
                labels: labels,
                datasets: [
                    {
                        label: "Dépense Global",
                        backgroundColor: "#FFB6C1",
                        borderWidth: 1,
                        hoverBackgroundColor: "#59597F",
                        data: depense
                    },
                    {
                        label: "Recette Global",
                        backgroundColor: "#ADD8E6",
                        borderWidth: 1,
                        hoverBackgroundColor: "#3A5FCD",
                        data: recette
                    }
                ]
            },
            options: {
                scales: {
                    yAxes: [
                        {
                            ticks: {
                                beginAtZero: true
                            }
                        }
                    ]
                }
            }
        });
    }
});
</script>