<!DOCTYPE html>
{% load static %}
<canvas id="myChart4"  style="padding:5px" ></canvas>
<script src="{% static 'js/chartjs.js' %}"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script>
$(document).ready(function(){

    api_url="/budget/apiis?title=nombre_debudgets"
    $.ajax({
        method:"GET",
        url:api_url,
        success:function(data){
            setPointhautNumber(Object.keys(data),Object.values(data));
        },
        error:function(error_data){
            console.log("error");
            console.log(error_data);
        }
    });


    function setPointhautNumber(labels,data){

            var ctx =$('#myChart4');
            var myChart4 = new Chart(ctx, {
                type: 'horizontalBar',
                data: {
                    labels: labels,
                    datasets: [{
                        label:'Nombres point hauts ',
                        backgroundColor: "#FFB6C1",
                        borderColor: "#c00",
                        borderWidth: 1,
                        hoverBackgroundColor: "#59597F",
                        data: data

                    }]
                },
                options:
                {
                    scales:{
                        xAxes:[{
                            ticks:{
                                stepSize: 1,
                                beginAtZero:true

                            }

                            }],
                        yAxes:[{
                            barPercentage: 0.5,
                            ticks:{
                                beginAtZero:true
                            }

                        }]

                    }
                }
            });
    }
});


</script>